{
    "openapi": "3.0.0",
    "info": {
        "title": "Bengkel Sampah API",
        "description": "Dokumentasi API untuk sistem OTP dan autentikasi Bengkel Sampah",
        "contact": {
            "name": "Tim Bengkel Sampah",
            "email": "support@bengkelsampah.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Server utama"
        }
    ],
    "paths": {
        "/api/addresses": {
            "get": {
                "tags": [
                    "Alamat"
                ],
                "summary": "Dapatkan semua alamat",
                "description": "Dapatkan semua alamat untuk pengguna yang terautentikasi",
                "operationId": "getAllAddresses",
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "nama": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "nomor_handphone": {
                                                        "type": "string",
                                                        "example": "081234567890"
                                                    },
                                                    "label_alamat": {
                                                        "type": "string",
                                                        "example": "Rumah"
                                                    },
                                                    "provinsi": {
                                                        "type": "string",
                                                        "example": "DKI Jakarta"
                                                    },
                                                    "kota_kabupaten": {
                                                        "type": "string",
                                                        "example": "Jakarta Selatan"
                                                    },
                                                    "kecamatan": {
                                                        "type": "string",
                                                        "example": "Kebayoran Baru"
                                                    },
                                                    "kode_pos": {
                                                        "type": "string",
                                                        "example": "12120"
                                                    },
                                                    "detail_lain": {
                                                        "type": "string",
                                                        "example": "Jl. Kebayoran Baru No. 123"
                                                    },
                                                    "is_default": {
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Alamat"
                ],
                "summary": "Tambah alamat baru",
                "description": "Tambah alamat baru untuk pengguna yang terautentikasi",
                "operationId": "addAddress",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nama",
                                    "nomor_handphone",
                                    "label_alamat",
                                    "provinsi",
                                    "kota_kabupaten",
                                    "kecamatan",
                                    "kode_pos",
                                    "is_default"
                                ],
                                "properties": {
                                    "nama": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "nomor_handphone": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "label_alamat": {
                                        "type": "string",
                                        "example": "Rumah"
                                    },
                                    "provinsi": {
                                        "type": "string",
                                        "example": "DKI Jakarta"
                                    },
                                    "kota_kabupaten": {
                                        "type": "string",
                                        "example": "Jakarta Selatan"
                                    },
                                    "kecamatan": {
                                        "type": "string",
                                        "example": "Kebayoran Baru"
                                    },
                                    "kode_pos": {
                                        "type": "string",
                                        "example": "12120"
                                    },
                                    "detail_lain": {
                                        "type": "string",
                                        "example": "Jl. Kebayoran Baru No. 123"
                                    },
                                    "is_default": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Alamat berhasil dibuat",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat berhasil dibuat"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "nomor_handphone": {
                                                    "type": "string",
                                                    "example": "081234567890"
                                                },
                                                "label_alamat": {
                                                    "type": "string",
                                                    "example": "Rumah"
                                                },
                                                "provinsi": {
                                                    "type": "string",
                                                    "example": "DKI Jakarta"
                                                },
                                                "kota_kabupaten": {
                                                    "type": "string",
                                                    "example": "Jakarta Selatan"
                                                },
                                                "kecamatan": {
                                                    "type": "string",
                                                    "example": "Kebayoran Baru"
                                                },
                                                "kode_pos": {
                                                    "type": "string",
                                                    "example": "12120"
                                                },
                                                "detail_lain": {
                                                    "type": "string",
                                                    "example": "Jl. Kebayoran Baru No. 123"
                                                },
                                                "is_default": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data yang diberikan tidak valid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "nama": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "nomor_handphone": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "label_alamat": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "provinsi": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kota_kabupaten": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kecamatan": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kode_pos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "is_default": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/addresses/{id}": {
            "get": {
                "tags": [
                    "Alamat"
                ],
                "summary": "Dapatkan detail alamat",
                "description": "Dapatkan detail alamat tertentu untuk pengguna yang terautentikasi",
                "operationId": "getAddressDetail",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Alamat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "nomor_handphone": {
                                                    "type": "string",
                                                    "example": "081234567890"
                                                },
                                                "label_alamat": {
                                                    "type": "string",
                                                    "example": "Rumah"
                                                },
                                                "provinsi": {
                                                    "type": "string",
                                                    "example": "DKI Jakarta"
                                                },
                                                "kota_kabupaten": {
                                                    "type": "string",
                                                    "example": "Jakarta Selatan"
                                                },
                                                "kecamatan": {
                                                    "type": "string",
                                                    "example": "Kebayoran Baru"
                                                },
                                                "kode_pos": {
                                                    "type": "string",
                                                    "example": "12120"
                                                },
                                                "detail_lain": {
                                                    "type": "string",
                                                    "example": "Jl. Kebayoran Baru No. 123"
                                                },
                                                "is_default": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alamat tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Alamat"
                ],
                "summary": "Perbarui alamat",
                "description": "Perbarui alamat yang sudah ada untuk pengguna yang terautentikasi",
                "operationId": "updateAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Alamat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nama": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "nomor_handphone": {
                                        "type": "string",
                                        "example": "081234567890"
                                    },
                                    "label_alamat": {
                                        "type": "string",
                                        "example": "Rumah"
                                    },
                                    "provinsi": {
                                        "type": "string",
                                        "example": "DKI Jakarta"
                                    },
                                    "kota_kabupaten": {
                                        "type": "string",
                                        "example": "Jakarta Selatan"
                                    },
                                    "kecamatan": {
                                        "type": "string",
                                        "example": "Kebayoran Baru"
                                    },
                                    "kode_pos": {
                                        "type": "string",
                                        "example": "12120"
                                    },
                                    "detail_lain": {
                                        "type": "string",
                                        "example": "Jl. Kebayoran Baru No. 123"
                                    },
                                    "is_default": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Alamat berhasil diperbarui",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat berhasil diperbarui"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "nama": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "nomor_handphone": {
                                                    "type": "string",
                                                    "example": "081234567890"
                                                },
                                                "label_alamat": {
                                                    "type": "string",
                                                    "example": "Rumah"
                                                },
                                                "provinsi": {
                                                    "type": "string",
                                                    "example": "DKI Jakarta"
                                                },
                                                "kota_kabupaten": {
                                                    "type": "string",
                                                    "example": "Jakarta Selatan"
                                                },
                                                "kecamatan": {
                                                    "type": "string",
                                                    "example": "Kebayoran Baru"
                                                },
                                                "kode_pos": {
                                                    "type": "string",
                                                    "example": "12120"
                                                },
                                                "detail_lain": {
                                                    "type": "string",
                                                    "example": "Jl. Kebayoran Baru No. 123"
                                                },
                                                "is_default": {
                                                    "type": "boolean",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alamat tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data yang diberikan tidak valid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "nama": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "nomor_handphone": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "label_alamat": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "provinsi": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kota_kabupaten": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kecamatan": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "kode_pos": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "is_default": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Alamat"
                ],
                "summary": "Hapus alamat",
                "description": "Hapus alamat yang sudah ada untuk pengguna yang terautentikasi",
                "operationId": "deleteAddress",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Alamat",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Alamat berhasil dihapus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat berhasil dihapus"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Alamat tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Alamat tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/artikels": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Dapatkan daftar artikel",
                "description": "Mengembalikan daftar artikel dengan paginasi, diurutkan dari yang terbaru",
                "operationId": "getArticles",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Nomor halaman untuk paginasi",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "artikels": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Tips Memilah Sampah"
                                                            },
                                                            "content": {
                                                                "type": "string",
                                                                "example": "Konten artikel..."
                                                            },
                                                            "cover": {
                                                                "type": "string",
                                                                "example": "https://example.com/image.jpg"
                                                            },
                                                            "kategori_id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "creator": {
                                                                "type": "string",
                                                                "example": "Admin"
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "kategori": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "nama": {
                                                                        "type": "string",
                                                                        "example": "Tips & Trik"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 50
                                                        },
                                                        "has_more_pages": {
                                                            "type": "boolean",
                                                            "example": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/artikels/{id}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Dapatkan detail artikel",
                "description": "Mengembalikan informasi detail tentang artikel tertentu",
                "operationId": "getArticleDetails",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID artikel",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "artikel": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Tips Memilah Sampah"
                                                        },
                                                        "content": {
                                                            "type": "string",
                                                            "example": "Konten lengkap artikel..."
                                                        },
                                                        "cover": {
                                                            "type": "string",
                                                            "example": "https://example.com/image.jpg"
                                                        },
                                                        "kategori_id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "creator": {
                                                            "type": "string",
                                                            "example": "Admin"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "kategori": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "integer",
                                                                    "example": 1
                                                                },
                                                                "nama": {
                                                                    "type": "string",
                                                                    "example": "Tips & Trik"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Artikel tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Artikel tidak ditemukan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/bank-sampah": {
            "get": {
                "tags": [
                    "Bank Sampah"
                ],
                "summary": "Dapatkan daftar bank sampah",
                "description": "Dapatkan daftar semua bank sampah yang tersedia",
                "operationId": "getBankSampahList",
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "kode_bank_sampah": {
                                                        "type": "string",
                                                        "example": "BS-001"
                                                    },
                                                    "nama_bank_sampah": {
                                                        "type": "string",
                                                        "example": "Bank Sampah Hijau"
                                                    },
                                                    "alamat_bank_sampah": {
                                                        "type": "string",
                                                        "example": "Jl. Merdeka No. 123"
                                                    },
                                                    "nama_penanggung_jawab": {
                                                        "type": "string",
                                                        "example": "John Doe"
                                                    },
                                                    "kontak_penanggung_jawab": {
                                                        "type": "string",
                                                        "example": "081234567890"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengguna tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Pengguna tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/delete-account": {
            "post": {
                "tags": [
                    "Profil"
                ],
                "summary": "Hapus akun pengguna",
                "description": "Endpoint untuk menghapus akun pengguna dan semua data terkait.",
                "operationId": "3e8923ef5c8668478926d2108329d92c",
                "responses": {
                    "200": {
                        "description": "Akun berhasil dihapus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Akun berhasil dihapus"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/detail-profile": {
            "get": {
                "tags": [
                    "Profil"
                ],
                "summary": "Dapatkan data profil detail pengguna",
                "description": "Dapatkan nama pengguna dan daftar alamat",
                "operationId": "getDetailProfileData",
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "nama": {
                                                    "type": "string",
                                                    "example": "John Doe"
                                                },
                                                "addresses": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "nama": {
                                                                "type": "string",
                                                                "example": "John Doe"
                                                            },
                                                            "nomor_handphone": {
                                                                "type": "string",
                                                                "example": "081234567890"
                                                            },
                                                            "label_alamat": {
                                                                "type": "string",
                                                                "example": "Rumah"
                                                            },
                                                            "provinsi": {
                                                                "type": "string",
                                                                "example": "DKI Jakarta"
                                                            },
                                                            "kota_kabupaten": {
                                                                "type": "string",
                                                                "example": "Jakarta Selatan"
                                                            },
                                                            "kecamatan": {
                                                                "type": "string",
                                                                "example": "Kebayoran Baru"
                                                            },
                                                            "kode_pos": {
                                                                "type": "string",
                                                                "example": "12120"
                                                            },
                                                            "detail_lain": {
                                                                "type": "string",
                                                                "example": "Jl. Kebayoran Baru No. 123"
                                                            },
                                                            "is_default": {
                                                                "type": "boolean",
                                                                "example": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengguna tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Pengguna tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/edit-profile": {
            "put": {
                "tags": [
                    "Profil"
                ],
                "summary": "Perbarui profil pengguna",
                "description": "Perbarui nama, identifier, dan kata sandi pengguna. Jika memperbarui identifier, verifikasi OTP diperlukan.",
                "operationId": "updateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "identifier": {
                                        "type": "string",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newpassword123"
                                    },
                                    "otp": {
                                        "description": "Diperlukan jika memperbarui identifier",
                                        "type": "string",
                                        "example": "123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profil berhasil diperbarui",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Profil berhasil diperbarui"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Pengguna tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Pengguna tidak ditemukan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validasi gagal",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Data yang diberikan tidak valid."
                                        },
                                        "errors": {
                                            "properties": {
                                                "name": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "identifier": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "otp": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Kode OTP tidak valid",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Kode OTP tidak valid."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Dapatkan daftar event aktif",
                "description": "Mengembalikan daftar event aktif dengan paginasi, diurutkan dari yang terbaru dibuat",
                "operationId": "getEvents",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Nomor halaman untuk paginasi",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "events": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1
                                                            },
                                                            "title": {
                                                                "type": "string",
                                                                "example": "Bersih-bersih Pantai"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Kegiatan membersihkan pantai dari sampah plastik..."
                                                            },
                                                            "cover": {
                                                                "type": "string",
                                                                "example": "https://example.com/cover.jpg"
                                                            },
                                                            "start_datetime": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "end_datetime": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "location": {
                                                                "type": "string",
                                                                "example": "Pantai Indah"
                                                            },
                                                            "max_participants": {
                                                                "type": "integer",
                                                                "example": 100
                                                            },
                                                            "status": {
                                                                "type": "string",
                                                                "example": "active"
                                                            },
                                                            "participants_count": {
                                                                "type": "integer",
                                                                "example": 25
                                                            },
                                                            "has_result": {
                                                                "type": "boolean",
                                                                "example": false
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "admin_name": {
                                                                "type": "string",
                                                                "example": "Admin Bengkel Sampah"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "pagination": {
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "last_page": {
                                                            "type": "integer",
                                                            "example": 5
                                                        },
                                                        "per_page": {
                                                            "type": "integer",
                                                            "example": 10
                                                        },
                                                        "total": {
                                                            "type": "integer",
                                                            "example": 50
                                                        },
                                                        "has_more_pages": {
                                                            "type": "boolean",
                                                            "example": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Tidak terautentikasi",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Tidak terautentikasi. Token tidak diberikan."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/events/{id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Dapatkan detail event",
                "description": "Mengembalikan informasi detail tentang event tertentu termasuk daftar peserta dan status join user",
                "operationId": "getEventDetails",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID event",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Operasi berhasil",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "data": {
                                            "properties": {
                                                "event": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "title": {
                                                            "type": "string",
                                                            "example": "Bersih-bersih Pantai"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Kegiatan membersihkan pantai dari sampah plastik..."
                                                        },
                                                        "cover": {
                                                            "type": "string",
                                                            "example": "https://example.com/cover.jpg"
                                                        },
                                                        "start_datetime": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "end_datetime": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "location": {
                                                            "type": "string",
                                                            "example": "Pantai Indah"
                                                        },
                                                        "max_participants": {
                                                            "type": "integer",
                                                            "example": 100
                                                        },
                                                        "status": {
                                                            "type": "string",
                                                            "example": "active"
                                                        },
                                                        "result_description": {
                                                            "type": "string",
                                                            "example": "Kegiatan berhasil dilaksanakan..."
                                                        },
                                                        "saved_waste_amount": {
                                                            "type": "number",
                                                            "example": 150.5
                                                        },
                                                        "actual_participants": {
                                                            "type": "integer",
                                                            "example": 25
                                                        },
                                                        "result_photos": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "result_submitted_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "created_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "updated_at": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "user_has_joined": {
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "admin_name": {
                                                            "type": "string",
                                                            "example": "Admin Bengkel Sampah"
                                                        },
                                                        "result_submitted_by_name": {
                                                            "type": "string",
                                                            "example": "Admin Bengkel Sampah"
                                                        },
                                                        "participants": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "user_name": {
                                                                        "type": "string",
                                                                        "example": "John Doe"
                                                                    },
                                                                    "user_identifier": {
                                                                        "type": "string",
                                                                        "example": "081234567890"
                                                                    },
                                                                    "join_datetime": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Event tidak ditemukan",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
[...]
